greenlet==3.0.3
kafka-python==2.0.2
numpy==1.26.4
pandas==2.2.2
psycopg2-binary==2.9.9
py4j==0.10.9.7
pyspark==3.5.1
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.29
typing_extensions==4.11.0
tzdata==2024.1
black==24.4.0
flake8==7.0.0
hurry.filesize==0.9
ultralytics==8.1.47
yt-dlp==2024.4.9
youtube-dl==2020.12.2
opencv-python==4.9.0.80
pafy==0.5.5
cap-from-youtube==0.0.10
fastapi==0.110.1
python-multipart==0.0.9
pydantic==2.7.0
openpyxl==3.1.2
uvicorn[standard]
